<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../../../static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Codecooler Profile</title>
</head>

<body>

<header>
    <div class="header">
        <div id="logo">
            <a href="/queststore/codecooler/{{codecooler.getId()}}"><img src="../../../static/img/logo6.png" alt="logo"></a>
        </div>

        <div id="main-nav">
            <a href="/queststore/codecooler/{{codecooler.getId()}}">My Profile</a>
            <a href="/queststore/codecooler/experience/{{codecooler.getId()}}">Experience</a>
            <a class="active" href="/queststore/codecooler/wallet/{{codecooler.getId()}}">Wallet</a>
            <a href="/queststore/codecooler/store/{{codecooler.getId()}}">Store</a>
            <a href="/queststore/codecooler/logout/{{codecooler.getId()}}">Logout</a>
        </div>
    </div>
</header>

<div id="contener">
    <div id="heading">
        <h1>Wallet</h1>
    </div>
    <div id="content" style="overflow-x:auto;">
        <table>
            <tr class="table-top">
                <th class="table-title">Type</th>
                <th class="table-title">Description</th>
                <th class="table-title">In</th>
                <th class="table-title">Out</th>
                <th class="table-title">Balance</th>
            </tr>
            <tr>
                <td>Item</td>
                <td>Combat training</td>
                <td></td>
                <td>50 cc</td>
                <td>6600 cc</td>
            </tr>
            <tr>
                <td>Item</td>
                <td>Summon Code Elemental</td>
                <td></td>
                <td>1000 cc</td>
                <td>5600 cc</td>
            </tr>
            <tr>
                <td>Quest</td>
                <td>Forging weapons</td>
                <td>400 cc</td>
                <td></td>
                <td>6000 cc</td>
            </tr>
            <tr>
                <td>Item</td>
                <td>Transform mentors</td>
                <td></td>
                <td>5000 cc</td>
                <td>1000 cc</td>
            </tr>
            <tr>
                <td>Quest</td>
                <td>Slaying a dragon</td>
                <td>500 cc</td>
                <td></td>
                <td>1500 cc</td>
            </tr>
            <tr>
                <td>Quest</td>
                <td>Recruiting some n00bs</td>
                <td>100 cc</td>
                <td></td>
                <td>1600 cc</td>
            </tr>
            <tr>
                <td>Item</td>
                <td>Sanctuary</td>
                <td></td>
                <td>300 cc</td>
                <td>1300 cc</td>
            </tr>
            <tr class="table-bottom">
                <th class="table-summary">Account Balance</th>
                <th></th>
                <th class="table-summary">1000 cc</th>
                <th class="table-summary">6350 cc</th>
                <th class="table-summary">1250 cc</th>
            </tr>
        </table>
    </div>
</div>
<footer>
    <div id="footer-cont">
        <div>
            <p>© Quest Store 2019</p>
        </div>
        <div id="footer-logo">
            <img src="../../../static/img/whitering60.png">
        </div>
        <div>
            <p>Created by:</p>
            <ul id="autors">
                <li>Ewelina Jaworska</li>
                <li>Konrad Suseł</li>
                <li>Kamil Olsza</li>
                <li>Andrzej Rzeszut</li>
            </ul>
        </div>

    </div>

</footer>

</body>
